 <div *ngIf="projection" class="card mb-3 mt-3 p-5" data-bs-theme="dark" style="background-color: rgba(63, 60, 60, 0.719);">
    <div class="d-flex container ">
        <div class="p-2 flex-shrink-1 m-2" style="width: 300px;">
            <img [src]="imageToShow" class="img-fluid rounded-start" [alt]="projection.title + ' poster'">
        </div>
        <div class="p-2 flex-grow-1">
            <div class="card-body">
                <h5 class="card-title">{{ projection.title }}</h5>
                <p class="card-text">{{ projection.showTime | date:'dd.MM.yyyy. HH:mm' }}</p>
                <p class="card-text"><small class="text-body-secondary">Running time: {{ projection.runningTime }}</small></p>
                <button (click)="navigateToDetails(projection)" class="btn btn-secondary">More details</button>
            </div>
        </div>
        <div *ngIf="active === 1 && !isHome" class="p-2 m-2 d-flex flex-column">
            <button *ngIf="role === 'admin'" (click)="deleteProjection(projection._id)" class="btn btn-secondary m-2"><i class="bi bi-trash3 m-2"></i>Delete projection</button>
            <button *ngIf="role === 'admin'" (click)="editProjection(projection)"  class="btn btn-secondary m-2"><i class="bi bi-trash3 m-2"></i>Edit projection</button>
        </div>
    </div>
</div>

